
<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contact.company %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<p>
<strong>Goals:</strong>
<table>
<tbody>
<% @contact.goals.each do |goal| %>
        <tr>
          <td><%= goal.title %> (Tasks: "<%= goal.tasks.size %>")</td>
        </tr>
      <% end %>
</tbody>
</table>
</p>


<!-- RESTRUCTURE ABOCE TABLE IN ORDER TO DISPLAY TASKS UNDER RESPECTIVE GOAL. THE BELOW CODE TO RETREIVE TASK IS CORRECT, YOU DO NOT USE @ BECAUSE THE DATA IS NOT PASSED BY THE CONTROLLER, IT IS A LIST THAT RESIDES WITHIN GOAL -->




<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
